<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Text Extraction</title>
    <link rel="stylesheet" type="text/css" href="static\style.css"/>
</head>
<body>
    <div class="A">
        <h1>Captcha OCR</h1>
    </div>
    <form class = "A" id="upload-form" enctype="multipart/form-data">
        <div class="A">
            <input type="file" id="image-upload" name="image" accept="image/*">
            <button type="submit">Upload Image</button>
        </div>
    </form>
    <div id="result"></div>
    <div id="image-container"></div>

    <script>
        document.getElementById('upload-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData();
            const fileInput = document.getElementById('image-upload');
            formData.append('image', fileInput.files[0]);

            try {
                const response = await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json();
                document.getElementById('result').innerText = data.text;
                displayImage(fileInput.files[0]);
            } catch (error) {
                console.error('Error:', error);
            }
        });

        function displayImage(file) {
            const reader = new FileReader();
            reader.onload = function(event) {
                const img = document.createElement('img');
                img.src = event.target.result;
                img.width = 300; // Adjust image size as needed
                document.getElementById('image-container').innerHTML = '';
                document.getElementById('image-container').appendChild(img);
            };
            reader.readAsDataURL(file);
        }
    </script>
</body>
</html>
